.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

// .card-img-top {
//   max-height: 200px;
//   min-height: 150px;
//   object-fit: cover;
// }

.team-card-img-top {
  height: 150px;
  //   width: 100%;
  //   object-fit: contain;
}
