<div class="container-fluid">
  <fdj-loader [areLoading]="areLoading$ | async">
    <div class="row mb-2">
      <div class="col-md-12">
        <button mat-icon-button (click)="goBack()" class="float-left">
          <mat-icon>keyboard_arrow_left</mat-icon><span>Back</span>
        </button>
        <h3 class="text-center mt-2">{{ teamName$ | async }}</h3>
      </div>
    </div>
    <div *ngIf="(players$ | async)?.length > 0; else noData">
      <div class="card-deck">
        <div *ngFor="let palyer of players$ | async" class="card border-0 mb-1">
          <div class="card-horizontal bg-light">
            <div class="img-square-wrapper">
              <img
                class="team-card-img-top"
                src="{{ palyer.thumbnail }}"
                alt="Card image cap"
              />
            </div>
            <div class="card-body">
              <h4 class="card-title">{{ palyer.name }}</h4>
              <p class="card-text">
                {{ palyer.position }}
              </p>
              <p class="card-text">
                birthDate: {{ palyer.born | date: 'yyy-mm-dd' }}
              </p>
              <p class="card-text">
                price: {{ palyer.signin.amount | currency: 'EUR' }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noData>
      <div class="alert alert-warning text-center">
        no details for this team
      </div>
    </ng-template>
  </fdj-loader>
</div>
