<div class="container-fluid">
  <form class="form-search-input">
    <mat-form-field class="example-full-width">
      <mat-icon matPrefix>search</mat-icon>
      <input
        type="text"
        placeholder="Search By league"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />

      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let league of filteredLeagues | async"
          [value]="league.name"
          (onSelectionChange)="getTeamsBySelectedLeag(league)"
        >
          {{ league.name }}
        </mat-option>
      </mat-autocomplete>
      <button
        type="button"
        mat-button
        *ngIf="myControl.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearSearchField()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <fdj-loader [areLoading]="areLoading$ | async">
    <div *ngIf="(teams$ | async)?.length > 0; else noData">
      <div class="card-deck">
        <summary
          *ngFor="let team of teams$ | async"
          class="card border-0 mb-1"
          (click)="goToTeamPlayers(team)"
        >
          <img
            class="team-card-img-top"
            src="{{ team.thumbnail }}"
            alt="Card image cap"
          />
        </summary>
      </div>
    </div>
    <ng-template #noData>
      <div *ngIf="myControl.value">
        <div class="alert alert-warning text-center">
          no details for this league
        </div>
      </div>
    </ng-template>
  </fdj-loader>
</div>
