@import 'mixins';

.loader-wrapper {
  position: relative;
}

.overlay {
  @include flex(row, center, center, nowrap, absolute);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.backdrop {
  background: #00000044;
}
