<div class="loader-wrapper">
  <ng-content></ng-content>
  <div
    *ngIf="areLoading"
    class="overlay"
    [class.backdrop]="backdrop"
    [@showHide]
  >
    <mat-spinner [diameter]="diameter"></mat-spinner>
  </div>
</div>
